{%extends 'main.html'%}
{% block content %}
{% load static %}


<section id="sub-header" class="section bg-parallax pt-0 pb-0" data-background="{% static 'img/bg/about.jpg' %}">
    <div class="bg-overlay-black bg-overlay-5"></div>
    <div class="container">
        <div class="sub-wrapper">
            <br>
            <br>
            <br>
            <h1>Certifications</h1>
            <h2 class="h4">If you’d like to talk to us about a project, or anything else, we’d love to hear from you.</h2>

            <div class="breadcrumb-container clearfix">
                <span>You are here: </span>
                <ul class="breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <!-- <li><a href="#">Page</a></li> -->
                    <li>Certification</li>
                </ul>
            </div><!-- /breadcrumb -->
        </div><!-- /sub-wrapper -->
    </div><!-- /container -->
</section>
<!-- END / SUB HEADER -->

<!-- CONTENT -->
<section class="section bg-white pt-70 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-push-3 col-sm-12 col-xs-12">
                <div id="content" class="site-content">
                    <main id="main">

                        <h3 class="page-title">Zakat, Tax, and Customs Authority</h3>
                        <div class="page-grid">
                            <!-- GRID 9 COLUMNS -->
                            <div class="page-media col-2 col-push-7 static">
                                <div class="client-logo">
                                    <img src="{% static 'img/Certificates/1.jpg' %}" alt ="Certificate 1" />
                                </div><!-- /client-logo -->
                            </div><!-- /page-media -->

                            <div class="page-content col-7 col-pull-2">
                                <p><strong>Al-Banayat Al-Arabia </strong> is proud to be certified by the Zakat, Tax, and Customs Authority of Saudi Arabia. This esteemed certification reflects our company's compliance with the tax and customs regulations set forth by the Kingdom of Saudi Arabia. It signifies our commitment to transparency, accountability, and ethical business practices. As a certified entity, we adhere to the highest standards of financial integrity and contribute positively to the economic development of Saudi Arabia. This certification strengthens our credibility and demonstrates our dedication to upholding legal and regulatory requirements in all our operations.</p>
                            </div><!-- /page-content -->
                        </div><!-- /page-grid -->

                        <h3 class="page-title">Ministry of Human Resources and Social Development</h3>
                        <div class="page-grid">
                            <!-- GRID 9 COLUMNS -->
                            <div class="page-media col-2 col-push-7 static">
                                <div class="client-logo">
                                    <img src="{% static 'img/Certificates/2.jpg' %}" alt ="Certificate 2" />
                                    <!-- <img src="img/Certificates/2.jpg" alt="" /> -->
                                </div><!-- /client-logo -->
                            </div><!-- /page-media -->

                            <div class="page-content col-7 col-pull-2">
                                <p><strong>Al-Banayat Al-Arabia </strong> proudly holds certification from the Ministry of Human Resources and Social Development of Saudi Arabia. This certification underscores our company's commitment to fostering a supportive and inclusive workplace environment while adhering to the labor and social development regulations of the Kingdom. It signifies our dedication to promoting employee welfare, fostering skill development, and contributing to the social well-being of our workforce. With this certification, we affirm our pledge to prioritize human capital development and uphold the highest standards of ethical employment practices in all our endeavors.</p>
                            </div><!-- /page-content -->
                        </div><!-- /page-grid -->

                        <h3 class="page-title"> Saudi Contracting Authority </h3>
                        <div class="page-grid">
                            <!-- GRID 9 COLUMNS -->
                            <div class="page-media col-2 col-push-7 static">
                                <div class="client-logo">
                                    <img src="{% static 'img/Certificates/3.jpg' %}" alt ="Certificate 3" />
                                    <!-- <img src="img/Certificates/3.jpg" alt="" /> -->
                                </div><!-- /client-logo -->
                            </div><!-- /page-media -->

                            <div class="page-content col-7 col-pull-2">
                                <p> <strong>Al-Banayat Al-Arabia </strong> is honored to be certified by the esteemed Saudi Contracting Authority (SCA). This certification serves as a testament to our unwavering dedication to excellence in the field of engineering and construction. Through meticulous attention to detail and adherence to the highest industry standards, we have successfully executed numerous projects across Saudi Arabia. The SCA certification not only reaffirms our reputation for delivering projects of exceptional quality but also underscores our ability to overcome complex infrastructural challenges with innovation and expertise. It is a reflection of our commitment to upholding the highest standards of professionalism and integrity in all our endeavors. Our collaboration with SCA exemplifies our relentless pursuit of excellence and our contribution to the advancement of Saudi Arabia's construction industry.</p>
                            </div><!-- /page-content -->
                        </div><!-- /page-grid -->

                        <h3 class="page-title">the General Authority of Zakat and Tax</h3>
                        <div class="page-grid">
                            <!-- GRID 9 COLUMNS -->
                            <div class="page-media col-2 col-push-7 static">
                                <div class="client-logo">
                                    <img src="{% static 'img/Certificates/4.jpg' %}" alt ="Certificate 4" />
                                    <!-- <img src="img/Certificates/4.jpg" alt="" /> -->
                                </div><!-- /client-logo -->
                            </div><!-- /page-media -->

                            <div class="page-content col-7 col-pull-2">
                                <p><strong>Al-Banayat Al-Arabia </strong> proudly presents its Value Added Tax (VAT) Registration Certificate from the prestigious General Authority of Zakat and Tax (GAZT) of Saudi Arabia. This certification signifies our compliance with the tax regulations set forth by the Kingdom, demonstrating our commitment to transparent and ethical business practices. By obtaining this certificate, we affirm our responsibility as a corporate citizen to contribute to the economic development of Saudi Arabia while upholding the highest standards of financial integrity. Our partnership with GAZT reflects our dedication to legal compliance and our role in supporting the country's fiscal objectives. This certificate further reinforces our reputation as a trustworthy and accountable entity in the construction industry.</p>
                            </div><!-- /page-content -->
                        </div><!-- /page-grid -->

                        <h3 class="page-title">Otabu Global Services Pvt. Ltd Certificate of Registration</h3>
                        <div class="page-grid">
                            <!-- GRID 9 COLUMNS -->
                            <div class="page-media col-2 col-push-7 static">
                                <div class="client-logo">
                                    <img src="{% static 'img/Certificates/5.jpg' %}" alt ="Certificate 5" />
                                    <!-- <img src="img/Certificates/5.jpg" alt="" /> -->
                                </div><!-- /client-logo -->
                            </div><!-- /page-media -->

                            <div class="page-content col-7 col-pull-2">
                                <p><strong>Al Banayat Al Arabia, Kingdom of Saudi Arabia, Khamis Mushait</strong>
                                    
                                    We are pleased to announce that Otabu Global Services Pvt. Ltd has provided assistance and certification to <strong>Al-Banayat Al-Arabia </strong> in the Kingdom of Saudi Arabia, Khamis Mushait. This certification acknowledges that <strong>Al-Banayat Al-Arabia </strong> has successfully implemented and complied with the ISO 45001 Occupational Health & Safety Management System standards.

                                    This certification underscores <strong>Al-Banayat Al-Arabia </strong> commitment to ensuring the highest standards of occupational health and safety within its operations. By achieving ISO 45001 certification, Al Banayat Al Arabia demonstrates its dedication to protecting the well-being of its employees and stakeholders, while also upholding best practices in occupational health and safety management.
                                    
                                    For more information about our services and certifications, please feel free to contact us.</p>
                            </div><!-- /page-content -->
                        </div><!-- /page-grid -->

                        <h3 class="page-title">Ministry of Municipal and Rural Affairs and Housing</h3>
                        <div class="page-grid">
                            <!-- GRID 9 COLUMNS -->
                            <div class="page-media col-2 col-push-7 static">
                                <div class="client-logo">
                                    <img src="{% static 'img/Certificates/6.jpg' %}" alt ="Certificate 6" />
                                    <!-- <img src="img/Certificates/6.jpg" alt="" /> -->
                                </div><!-- /client-logo -->
                            </div><!-- /page-media -->

                            <div class="page-content col-7 col-pull-2">
                                <p> <strong>Al-Banayat Al-Arabia </strong> takes great pride in showcasing its prestigious certification from the Ministry of Municipal and Rural Affairs and Housing, in conjunction with Balady, prominently on our website. This esteemed certification serves as a symbol of acknowledgment by the Saudi Arabian government, recognizing our significant contributions to the advancement of municipal and rural development initiatives. Through the acquisition of this certificate, we reaffirm our steadfast commitment to the enhancement of infrastructure, housing facilities, and community services, in full alignment with the objectives outlined by both the Ministry and Balady. It stands as a testament to our unwavering dedication towards fostering sustainable growth, both in urban and rural landscapes, while striving to elevate the living standards and overall quality of life for residents throughout Saudi Arabia."</p>
                            </div><!-- /page-content -->
                        </div><!-- /page-grid -->
                    </main>
                </div><!-- /site-content -->
            </div><!-- /col -->

            <div class="col-md-3 col-md-pull-9 col-sm-12 col-xs-12">
                <div id="sidebar" class="sidebar">
                    <div id="widget-area">
                        <aside class="widget widget_linklist">
                            <ul>
                                <li ><a href="{%url 'about' %}"
                                        class="btn btn-gray fullwidth text-left">Who We Are</a></li>
                                <li><a href="{%url 'history' %}" class="btn btn-gray fullwidth text-left">History</a>
                                </li>
                                <li><a href="{%url 'leaders' %}" class="btn btn-gray fullwidth text-left">Leader
                                        Team</a></li>
                                <li><a href="{%url 'values' %}" class="btn btn-gray fullwidth text-left">Core
                                        Values</a></li>
                                <li><a href="{%url 'clients' %}" class="btn btn-gray fullwidth text-left">Our
                                        Clients</a></li>
                                <li class="active"><a href="{%url 'certifications' %}"
                                        class="btn btn-gray fullwidth text-left">Certifications</a></li>
                                <li><a href="{%url 'faq' %}" class="btn btn-gray fullwidth text-left">F.A.Q</a></li>
                            </ul>
                        </aside><!-- /widget_linklist -->

                    </div><!-- /widget-area -->
                </div><!-- /sidebar -->
            </div><!-- /col -->
        </div><!-- /row -->
    </div><!-- /container -->
</section>

{% endblock content %}
