{%extends 'main.html'%}
{% block content %}
{% load static %}
<section id="sub-header" class="section bg-parallax pt-0 pb-0"  data-background="{% static 'img/bg/about.jpg' %}">
    <div class="bg-overlay-black bg-overlay-5"></div>
    <div class="container">
        <div class="sub-wrapper">
            <br></br >
            <br></br >
            <br></br >
            <h1>Our leaders</h1>
            <h2 class="h4">If you’d like to talk to us about a project, or anything else, we’d love to hear from
                you.</h2>

            <div class="breadcrumb-container clearfix">
                <span>You are here: </span>
                <ul class="breadcrumb">
                    <li><a href="{%url 'home'%}">Home</a></li>
                    <!-- <li><a href="#">Page</a></li> -->
                    <li>Our leaders</li>
                </ul>
            </div><!-- /breadcrumb -->
        </div><!-- /sub-wrapper -->
    </div><!-- /container -->
</section>
<!-- END / SUB HEADER -->

<!-- CONTENT -->
<section class="section bg-white pt-70 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-push-3 col-sm-12 col-xs-12">
                <div id="content" class="site-content">
                    <main id="main">
                        <div class="page-grid">
                            <!-- GRID 9 COLUMNS -->
                            <div class="page-media col-4 static">
                                <img src="img/team/1big.jpg" alt="" />
                            </div><!-- /page-media -->

                            <div class="page-content col-5">
                                <h2 class="section-header">Ceo &amp; Chairman</h2>
                                <p>Ibrahim Saad Al Sherani
                                    Owner and Chairman
                                    Ibrahim Saad Al Sherani serves as the esteemed proprietor and chairman of
                                    our company, Al-Banayat Al-Arabia  Construction Company, based in Saudi Arabia. With a
                                    clear vision and unwavering commitment to excellence, he has established
                                    Al-Banayat Al-Arabia  as a prominent construction company within the Kingdom. Under his
                                    astute leadership and visionary guidance, we have successfully completed
                                    numerous projects across Saudi Arabia. With pride, we proclaim ourselves as
                                    one of the Kingdom's reputable construction firms, excelling in various
                                    sectors.</p>
                                <br />
                                <!-- <ul class="social-list black">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="icon icon-flickr"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul> -->
                            </div><!-- /page-content -->
                        </div><!-- /page-grid -->

                        <div class="divider pt-20"></div>

                        <div class="row row-eq-height">
                            <div class="col-sm-4 col-xs-12">
                                <div class="team-leader">
                                    <div class="avatar hover-link">
                                        <img src="{%static 'img/team/1.jpg'%}" alt="" />
                                        <a href="our-leaders.html" class="overlay"><i
                                                class="fa fa-link"></i></a>
                                    </div><!-- /avatar -->
                                    <h4 class="h5 text-uppercase">Engineer Yusri Zaitoon</h4>
                                    <h5>Project Manager</h5>
                                    <p class="mb-20" data-number-line="5">Yusri, our capable Manager, brings
                                        extensive engineering expertise to our team. He oversees project
                                        execution and ensures smooth operations.</p>
                                    
                                </div><!-- /team-leader -->
                            </div><!-- /col -->

                            <div class="col-sm-4 col-xs-12">
                                <div class="team-leader">
                                    <div class="avatar hover-link">
                                        <img src="{%static 'img/team/2.jpg'%}" alt="" />
                                        <!-- <a href="our-leaders.html" class="overlay"><i -->
                                                <!-- class="fa fa-link"></i></a> -->
                                    </div><!-- /avatar -->
                                    <h4 class="h5 text-uppercase"> ASHRAF HASSAAN                                    </h4>
                                    <h5>Senior Engineer</h5>
                                    <p class="mb-20" data-number-line="5">Ashraf, a skilled engineer,
                                        specializes in creating technical drawings and designs, contributing
                                        significantly to project planning and execution.</p>
                                    
                                </div><!-- /team-leader -->
                            </div><!-- /col -->

                            <div class="col-sm-4 col-xs-12">
                                <div class="team-leader">
                                    <div class="avatar hover-link">
                                        <img src="img/team/3.jpg" alt="" />
                                        <a href="our-leaders.html" class="overlay"><i
                                                class="fa fa-link"></i></a>
                                    </div><!-- /avatar -->
                                    <h4 class="h5 text-uppercase">Engineer Ousam</h4>
                                    <h5>Engineer</h5>
                                    <p class="mb-20" data-number-line="5">Ousam plays a crucial role in project
                                        management, ensuring adherence to quality standards and timelines.</p>
                                    
                                </div><!-- /team-leader -->
                            </div><!-- /col -->

                            <div class="clearfix visible-sm visible-md visible-lg"></div>
<!-- <hr> -->
<div class="divider pt-20"></div>

                            <div class="col-sm-4 col-xs-12">
                                <div class="team-leader">
                                    <div class="avatar hover-link">
                                        <img src="{%static 'img/team/4.jpg'%}" alt="" />
                                        <!-- <a href="our-leaders.html" class="overlay"><i -->
                                                <!-- class="fa fa-link"></i></a> -->
                                    </div><!-- /avatar -->
                                    <h4 class="h5 text-uppercase">BASHEER ALAMRI                                    </h4>
                                    <h5>Junior Engineer</h5>
                                    <p class="mb-20" data-number-line="5">Basheer assists Ashraf in technical
                                        drawing tasks, contributing to the design phase of our projects.</p>
                                    
                                </div><!-- /team-leader -->
                            </div><!-- /col -->

                            <div class="col-sm-4 col-xs-12">
                                <div class="team-leader">
                                    <div class="avatar hover-link">
                                        <img src="{%static 'img/team/5.jpg'%}" alt="" />
                                        <a href="our-leaders.html" class="overlay"><i
                                                class="fa fa-link"></i></a>
                                    </div><!-- /avatar -->
                                    <h4 class="h5 text-uppercase">TAWFIK ABDULLAH ALAMRI                                    </h4>
                                    <h5>Senior Accountant</h5>
                                    <p class="mb-20" data-number-line="5">Tawfik manages financial operations
                                        and provides insightful reports to facilitate informed decision-making.
                                    </p>
                                    
                                </div><!-- /team-leader -->
                            </div><!-- /col -->

                            <div class="col-sm-4 col-xs-12">
                                <div class="team-leader">
                                    <div class="avatar hover-link">
                                        <img src="{%static 'img/team/6.jpg'%}" alt="" />
                                        <a href="our-leaders.html" class="overlay"><i
                                                class="fa fa-link"></i></a>
                                    </div><!-- /avatar -->
                                    <h4 class="h5 text-uppercase">SAMEH MOHAMED ELSAYED
                                    </h4>
                                    <h5>Procurement Manager</h5>
                                    <p class="mb-20" data-number-line="5">
                                        Our Procurement Manager, efficiently handles procurement, suppliers, contracts, and salaries from our central office.
                                    </p>
                                    
                                </div><!-- /team-leader -->
                            </div><!-- /col -->
                        </div><!-- /row -->
                        <!-- Note for site engineers -->
                        <p><strong>Note:</strong> We also have several site engineers who work at construction
                            sites, but this section specifically showcases our office-based team members.</p>
                    </main>
                </div><!-- /site-content -->
            </div><!-- /col -->

            <div class="col-md-3 col-md-pull-9 col-sm-12 col-xs-12">
                <div id="sidebar" class="sidebar">
                    <div id="widget-area">
                        <aside class="widget widget_linklist">
                            <ul>
                                <li ><a href="{%url 'about' %}"
                                        class="btn btn-gray fullwidth text-left">Who We Are</a></li>
                                <li><a href="{%url 'history' %}" class="btn btn-gray fullwidth text-left">History</a>
                                </li>
                                <li class="active"> <a href="{%url 'leaders' %}" class="btn btn-gray fullwidth text-left">Leader
                                        Team</a></li>
                                <li><a href="{%url 'values' %}" class="btn btn-gray fullwidth text-left">Core
                                        Values</a></li>
                                <li><a href="{%url 'clients' %}" class="btn btn-gray fullwidth text-left">Our
                                        Clients</a></li>
                                <li><a href="{%url 'certifications' %}"
                                        class="btn btn-gray fullwidth text-left">Certifications</a></li>
                                <li><a href="{%url 'faq' %}" class="btn btn-gray fullwidth text-left">F.A.Q</a></li>
                            </ul>
                        </aside><!-- /widget_linklist -->

                    </div><!-- /widget-area -->
                </div><!-- /sidebar -->
            </div><!-- /col -->
        </div><!-- /row -->
    </div><!-- /container -->
</section>
<!-- END / CONTENT -->
{% endblock content %}